@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background-color: #f6f7fb;
  display:flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.form{

  text-align: right;

}
.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}
.right{
  padding-right: 5px;

}
.left{
  padding-left: 5px;
}
input{
  border: 1px solid #DDDDDD;
  height: 30px;
  width: 255px;
  background-color:#DDDDDD;
}
button{
  display:inline-block;
  background-color:#6FB2D2;
  border: none;
  cursor: pointer;
}
button:hover{
  background-color: #DDDDDD;
}
.buttons{
  padding-top: 20px;
  text-align: left;
}
.btn{
  height: 40px;
  width: 150px;
}
.cancel{
  margin-left: 10px;
  width: 350px;
}
small{
  display: block;
}
.hide{
  visibility: hidden;
}
.error{
  border-color: red;
}
.example{
  font-size: 0.75rem;
  margin-top :0;
  margin-bottom: 0;
  color: grey;
}
.example p{
  margin: 0;
  display: inline-block;
}
